<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aowin.dao.Card_RecordMapper">
<insert id="insertRecord" parameterType="com.aowin.model.Card_Record" statementType="PREPARED">
insert into Card_Record(card_id,fee_type,chg_monthly_money,chg_wallet_money,chg_frozen_money,create_time,user_id,remark,zxbj)
values(#{card_id},#{fee_type},#{chg_monthly_money},#{chg_wallet_money},#{chg_frozen_money},#{create_time},#{user_id},#{remark},#{ZXBJ})
</insert>
<select id="selectRecord" parameterType="com.aowin.model.Card_Record" resultType="com.aowin.model.Card_Record">
select * from Card_Record
where record_id=#{record_id}
</select>
<select id="searchRecharge" parameterType="com.aowin.model.Card" resultType="com.aowin.model.Card_Record">
select * from card_record where  
record_id= (select max(record_id) from card_Record
where remark='充值月票' and card_id=#{card_id} and chg_monthly_money>=50
) 
</select> 
</mapper>