<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aowin.dao.Bicycle_ImmigratePileMapper">

<select id="selectCount" parameterType="java.util.Map" resultType="int">
select 
   count(*)
   from Bicycle_Pile
   where  pile_id  &gt;= 0

   </select>
   <select id="selectData" parameterType="java.util.Map" resultType="com.aowin.model.Bicycle_Pile">
   select * from 
   (select  status,pile_id,pile_code, station_id, bicycle_id,remark ,rownum r
   from  <!-- rownum 是oracle关键字必须取一个别名才可以使用，不然会报错 -->
      bicycle_pile
       where 
   pile_id  &gt;= 0

       and rownum &lt;= #{endNo})t 
      where t.r >= #{startNo}
  </select> 

</mapper>