<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aowin.dao.Bicycle_RecordMapper">
<select id="selectCount" parameterType="java.util.Map" resultType="int">
select 
   count(*)
   from Bicycle_Record
   where  record_id  &gt;= 0
   and card_id=#{card_id}
   </select>
   <select id="selectData" parameterType="java.util.Map" resultType="com.aowin.model.Bicycle_Record">
   select * from 
   (select  bicycle_id,card_id,rent_time,rent_pile_id,return_time,return_pile_id,money,remark ,rownum r
   from  <!-- rownum 是oracle关键字必须取一个别名才可以使用，不然会报错 -->
      bicycle_record
       where 
   record_id  &gt;= 0
   and card_id=#{card_id}

       and rownum &lt;= #{endNo})t 
      where t.r >= #{startNo}
  </select> 
</mapper>